.event-gallery {
    padding: 40px;
    background-color: #f7f7f7;
  }
  
  .event-gallery h2 {
    text-align: center;
    margin: 40px 0 30px;
    font-size: 28px;
    padding: 10px 0;
  }
  
  
  .event-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  
  .event-card {
    background: white;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    padding-bottom: 15px;
    flex-shrink: 0;
  }
  
  .event-card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 180px;
    object-fit: cover;
  }
  
  .event-card h3 {
    margin: 10px 0 5px;
    font-size: 18px;
  }
  
  .event-card p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  
  .event-card button {
    margin-top: 12px;
    padding: 8px 16px;
    background: #6a0dad;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  